#app {
  font-family: "Arial";
}

#slide-content {
  background-color: #e4e1db;
}

#logodiv {
  display: block;
  position: absolute;
  right: 4;
  top: 10;
  content: "moror";
  border: 1px solid red;
}

li {
  list-style-type: none;
}

li::marker {
  content: "• ";
  color: #ff00ff;
}

/* h1, */
/* h2, */
/* h3, */
/* h4 { */
/*   color: #ff00ff; */
/* } */

.twocol {
  display: flex;
  gap: 20px;
}
.twocol > * {
  flex: 1;
}
.margin-and-center {
  margin-top: 40px;
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 29px;
}

.cloud {
  display: grid;
  position: relative;
  font-size: 50px;
}

.cloud svg {
  position: absolute;
}

.cloud svg:nth-of-type(1) {
  left: 130px;
  top: 70px;
}

.cloud svg:nth-of-type(2) {
  left: 300px;
  top: 250px;
}

.cloud svg:nth-of-type(3) {
  left: 100px;
  top: 270px;
}

.cloud svg:nth-of-type(4) {
  left: 600px;
  top: 150px;
}

.cloud svg:nth-of-type(5) {
  left: 400px;
  top: 100px;
}

.cloud svg:nth-of-type(6) {
  left: 300px;
  top: 142px;
}

.cloud svg:nth-of-type(7) {
  left: 448px;
  top: 294px;
}

.cloud svg:nth-of-type(8) {
  left: 200px;
  top: 200px;
}

.cloud svg:nth-of-type(9) {
  left: 300px;
  top: 300px;
}

.cloud svg:nth-of-type(10) {
  left: 500px;
  top: 100px;
}

.huge {
  font-size: 30vh;
}
